/* CSS FOR JOHN MAYER */

/* COMMON */

body {
  background-color: #ffffff;
  margin: 0;
  font-size: 16px;
  font-family: Bodoni 72;
}

#container {
  width: 1000px;
  background-color: #ffffff;
  margin: 0 auto;
}

p {
  line-height: 2;
}

ul {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-top: 20px;
}

li {
  padding-left: 0px;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  float: center;
  width: 100px;
  padding-bottom: 20px;
  padding-top: 7px;
}

li a {
  text-decoration: none;
  font-weight: bold;
  color: #ab5d6b;
}

li a:hover {
  color: #143652;
  border-bottom: 5px solid #143652;
}
a {
  text-decoration: none;
  color: #ab5d6b;
}
a:hover {
  color: 143652;
}
.dummy {
  clear: left;
}

.dummyEmpty {
  height: 100px;
}

#nav {
  height: 10px;
  text-align: left;
  background-color: lavender;
}

footer {
	text-align: center;
	padding-bottom: 0px;
	background-color: lavender;
	padding-top: 0px;
	margin-bottom: 0px;
}



















/* Columns */

.column-1 {
  width: 180px;
}

.column-2 {
  /* 360 + 25	*/
  width: 385px;
}

.column-3 {
  /* 540 + 50	*/
  width: 590px;
}

.column-4 {
  /* 720 + 75	*/
  width: 795px;
}

.column-5 {
  /* 900 + 100	*/
  width: 1000px;
}

.column-1,
.column-2,
.column-3,
.column-4,
.column-5 {
  float: left;
  display: block;
}

.column-1:not(:first-child),
.column-2:not(:first-child),
.column-3:not(:first-child),
.column-4:not(:first-child),
.column-5:not(:first-child) {
  margin-left: 25px;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  text-align: center;
}

.row {
  margin-top: 25px;
}

.row img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

footer {
  margin-bottom: 0px;
  	text-align: center;
	padding-bottom: 0px;
	background-color: lavender;
	padding-top: 0px;
	magrin: 0;
}





















/* Index Page */

#row1 {
  height: 360px;
}

#row2 {
  height: 360px;
  padding-top: 20px;
}


.row2header {
  display: block;
  color: #143652;
  font-size: 45px;
  font-weight: bold;
  padding-top: 60px;
  text-align: center;
  padding-top: 20px;
}

.row3header {
  display: block;
  text-align: center;
  color: #143652;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 20px;
}

.row4header {
  display: block;
  text-align: left;
  color: #143652;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 50px;
  letter-spacing: 0px;
}

.banner {
  height: 50px;
}

.John Mayer{
  text-align: center;
  padding-bottom: 10px;
}

.learnmore {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #000000;
  display: block;
  width: 100px;
  margin: auto;
}

.learnmore:hover {
  background-color: #000000;
  color: white;
}

.day {
  font-size: 16px;
  font-weight: bold;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  color: #ab5d6b;
  margin-right: 5px;
  letter-spacing: 5px;
}

#row6 {
  font-weight: regular;
  font-size: 16px;
  color: #000000;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
  margin-right: 0px;
  display: block;
}

#row7 {
	display: inline-block;
	float: right;
}






















/* ABOUT PAGE */

ul {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-top: 20px;
}

li {
  padding-left: 40px;
  text-align: center;
  display: inline-block;
  list-style-type: none;
}

li a {
  text-decoration: none;
  font-weight: bold;
  color: #ab5d6b;
}

li a:hover {
  color: #143652;
  border-bottom: 5px solid #143652;
}
a {
  text-decoration: none;
  color: #ab5d6b;
}
a:hover {
  color: 143652;
}
.dummy {
  clear: left;
}

.dummyEmpty {
  height: 100px;
}

#nav {
  height: 50px;
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
  background-color: lavender;
}

#row1 {
  height: 360px;
}

#row2 {
  height: 360px;
}

.titles {
  display: block;
  color: #143652;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.column-3 {
	display: block;
	float: left:
}

.picture {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.picture1 {
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	float: right;
}

.picture3 {
	margin-right: 25px;
}

.image {
	margin: auto;
}

.banner {
	padding-bottom: 10px;
	padding-top: 10px;
	margin-right: 330px;
}

#area2 {
	margin-left: 635px;
	background-color: red;
}
